{% comment %} <hr>
<header>
    <div class="header-div">
        <div class="header-logo-div">
            <a href="{% url 'story-index' %}" class="header-logo">ПростоПиши</a>
            <br>
            <p class="footer-info">Проект "ПростоПиши" создан для того чтобы, предоставить молодым авторам и не только, заинтересованым в создании и критике 
                художественной литературы, возможности в исполнении своих способностей. Рады приветствовать всех писателей и
             людей, начинающих свой путь в прекрасном!</p>
             <p class="foundation">Создатели проекта: Прокофьев Егор, Полещиков Михаил</p>
             <div class="menu-div black-footer">
                <i>version 0.1</i><span class="gold-p">&nbsp;&#171;Buran&#187;</span> 
            </div>
            <div class="menu-div black-footer">
                <p class="footer-info">"Настоящий человек никогда не станет ни агентом, ни покорным исполнителем чужой воли, ни игроком, ведущим игру: всё равно — в своих или чужих интересах. Настоящий человек не может быть орудием в руках другого."-<span class="gold-p">Теодор Драйзер &#171;Финансист&#187;</span></p> 
            </div>
        </div>
    </div>
    <br>
    <br>
</header> {% endcomment %}

<hr>
<header>
    <div class="header-div footer-div">
        <div class="footer-logo-div">
            <a href="{% url 'story-index' %}" class="header-logo">ПростоПиши</a>
            <div class="footer-quote-div">
                <p class="footer-info">Проект "ПростоПиши" создан для того чтобы, предоставить молодым авторам и не только, заинтересованым в создании и критике 
                    художественной литературы, возможности в исполнении своих способностей. Рады приветствовать всех писателей и
                 людей, начинающих свой путь в прекрасном!</p>
                <p class="footer-quote">"Настоящий человек никогда не станет ни агентом, ни покорным исполнителем чужой воли, ни игроком, ведущим игру: всё равно — в своих или чужих интересах. Настоящий человек не может быть орудием в руках другого."-<span class="gold-p">Теодор Драйзер &#171;Финансист&#187;</span></p> 
            </div>
        </div>
        <div class="footer-bottom-div">
            <p class="foundation">Создатели: <a href="/profile/GreinoX" class="gold-p">Прокофьев Егор</a>, <a href="/profile/m.poleshchikov" class="gold-p">Полещиков Михаил</a></p>
            <div class="version-div">
                <i>version 0.1</i><span class="gold-p">&nbsp;&#171;Buran&#187;</span>
            </div>
        </div>
    </div>
</header>