{% extends '../base/base_auth.html' %}
{% load static %}

{% block title %}
Регистрация
{% endblock title %}

{% block main %}
<form method="POST" class="auth-form">
    {% csrf_token %}
    <div class="auth-form-logo-div">
        <a href="{% url 'story-index' %}"><img src="{% static 'icons/write.svg' %}" alt="" class="auth-form-logo"></a>
    </div>
    <div class="auth-form-inputs">
        <h1 class="auth-form-header">Регистрация</h1>
        <p>{% for f in form %}
        {{f.errors}}
        {% endfor %}</p>
        {% comment %} <input type="email" placeholder="E-mail" name="email" class="auth-form-input">
        <input type="text" placeholder="Имя пользователя" name="username" class="auth-form-input">
        <input type="password" placeholder="Пароль" name="password" class="auth-form-input password">
        <input type="password" placeholder="Повторите Пароль" name="password_repeat" class="auth-form-input password_rep"> {% endcomment %}
        {% for f in form %}
        {{f}}
        {% endfor %}
        <label for="" class="auth-form-show-pass"><input type="checkbox" class="showPassword"> Показать пароль</label>
        <input type="submit" value="Зарегистрироваться" class="auth-form-enter">
        <span class="auth-form-reg">Если у вас уже есть аккаунт <a href="{% url 'story-login-view' %}">Войти</a></span>
    </div>
</form>
<script>
let showPassword = document.querySelectorAll('.showPassword')
function toggleType(){
    let input = this.closest('.auth-form-inputs').querySelector('.password');
    if(input.type === "password"){
        input.type = "text";
    }else{
        input.type = "password"
    }
}

showPassword.forEach(item => item.addEventListener('click', toggleType));

</script>
{% endblock main %}



